

p {
    color: white
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button{
    width: 10em;
    text-align: center;
    background-color: #cb2845;;
    border: 0;
    border-radius: 0.75rem;

    min-height: 1.5rem;
    color: white;
    
    
}

.search {
    width: 10em;
    text-align: center;
    border: 0, solid, black;
    border-radius: 0.75rem;
    margin-top: 2.5rem;
    min-height: 1.5rem;

}

.button:hover, a:hover{
    text-decoration: underline;
}

.animated {
    animation: fade 1000ms ease-in-out infinite;
}

@keyframes fade {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }